<div class="animated fadeIn">
	<form class="form-peticion" ng-submit="EditTuto(tutoModificada)">
		
		<div class="col-md-4">
			<div class="form-group">
	    		<label>Asignatura</label>
		    	<input disabled type="text" class="form-control" ng-model="tutoModificada.asignatura" placeholder="Escribe la asignatura"></input>
		    </div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
	    		<label>Titulo</label>
		    	<input type="text" ng-model="tutoModificada.titulo" class="form-control" placeholder="Escribe el titulo de la tutoria">
		    </div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
	    		<label>Estado</label>
		    	<select class="form-control" ng-model="tutoModificada.estado">
		    		<option value=""></option>
		    		<option value="Aceptada">Aceptada</option>
				    <option value="Pendiente">Pendiente</option>
				    <option value="Rechazada">Rechazada</option>			      
				</select>
		    </div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
	    		<label>Descripcion</label>
		    	<textarea type="text" ng-model="tutoModificada.descripcion" rows="5" class="form-control" placeholder="Escribe la descripcion para la tutoria"> </textarea> 
		    </div>
		</div>

		<div class="col-md-3">
			<div class="form-group">
	    		<label>Profesor</label>
		    	<input disabled type="text" ng-model="tutoModificada.nombre_prof" class="form-control">
		    </div>
		</div>	

		<div class="col-md-3">
			<div class="form-group">
	    		<label>Alumno</label>
		    	<input disabled type="text" ng-model="tutoModificada.nombre_al" class="form-control">
		    </div>
		</div>

		<div class="col-md-3">
			<div class="form-group">
	    		<label>Fecha (dd-MM-YYYY) </label>
		    	<input disabled type="text" ng-model="tutoModificada.fecha" class="form-control">
		    </div>
		</div>	

		<div class="col-md-3">
			<div class="form-group">
	    		<label>Hora (HH:MM)</label>
		    	<input disabled type="text" ng-model="tutoModificada.hora" class="form-control">
		    </div>
		</div>				

		<div class="col-md-6" id="boton">
			<div class="form-boton">
				<button type="submit" class="btn btn-success glyphicon glyphicon-ok"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Actualizar</button>
				<button type="button" ng-click="limpiarCourse(tutoModificada)" class="btn btn-danger glyphicon glyphicon-remove" aria-hidden="true"><span class="glyphicon glyphicon-education"></span> Limpiar</button>
			</div>
		</div>	
	</form>
</div>